name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    # - name: Load loopback driver
    #  run: sudo modprobe snd-aloop
    - name: Install dependencies
      run: sudo apt-get install --no-install-recommends -y libasound2-dev      
    - name: Build
      run: cargo check --verbose --all
    # - name: Run tests
    #  run: cargo test --verbose --all
